services:
  memcached:
    image: memcached:1.6-alpine
    ports:
      - "11211:11211"
    command: memcached -m 64
    restart: unless-stopped

  server:
    build:
      context: .
      target: final
    ports:
      - 8000:8000
    environment:
      - MEMCACHED_HOST=memcached
    depends_on:
      - memcached
    restart: unless-stopped

